<div class="flexRow g-12px">
    <component path="./color_block.html" color="${color}" saturation="5"></component>
    <component path="./color_block.html" color="${color}" saturation="10"></component>
    <component path="./color_block.html" color="${color}" saturation="20"></component>
    <component path="./color_block.html" color="${color}" saturation="30"></component>
    <component path="./color_block.html" color="${color}" saturation="40"></component>
    <component path="./color_block.html" color="${color}" saturation="50"></component>
    <component path="./color_block.html" color="${color}" saturation="60"></component>
    <component path="./color_block.html" color="${color}" saturation="70"></component>
    <component path="./color_block.html" color="${color}" saturation="90"></component>
    <component path="./color_block.html" color="${color}" saturation="95"></component>
</div>